/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
  }
.logo {
  width: 125px;
}

h1 {
  font-size: 4.8rem;
}

p {
  font-size: 1.25rem;
}
/* NAV STYLE */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* background: rgba(74, 44, 185, 0.5);  */
}

nav img {
 width: 125px;;
 height: auto;
}

nav ul {
  flex-grow:1;

  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  /* background: rgba(190, 119, 121, 0.5); */
  }
  
nav ul li {
  flex: 0 1 auto;
  padding-right: 20px;
  padding-left: 20px;
}

nav ul li:last-child {
  align-self: flex-end;
  color:#5b5e6d;
  border: 3px solid #5b5e6d;
  padding:10px 20px 10px 20px;
  border-radius: 10px;
}


/* END NAV STYLE */


/* HEADER STYLE */

header {
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  /* background: rgba(214, 91, 132, 0.5); */
}

.headerImagen {
  flex: 0 1 auto;
  background: rgba(136, 214, 91, 0.5);
}

.headerImagen img {
  width: 100%;
  height: auto;
  padding: 5px;
}  


.headerText {
  flex: 0 1 auto;
  background: rgba(128, 91, 214, 0.5);
  padding:70px 50px 30px 50px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

}

button {
  background-color: #192592;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* END HEADER STYLE */

/* MAIN STYLE */
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  
  background:#F4F3F4;
  
}

.goodCompanyText {
  flex: 0 1 auto;

  /* background:rgba(91, 134, 214, 0.5); */
  padding:70px 30px 70px 30px;

  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.goodCompanyImg {
  /* background:rgba(214, 126, 91, 0.5); */
  padding:70px 30px 70px 30px;

  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.tryFree {
  /* background:rgba(192, 12, 12, 0.5); */
  padding:70px 30px 30px 30px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}
/* END MAIN STYLE */


/* ------------------- */
/* FOOTER STYLE */
/* ------------------- */
/* top-FOOTER STYLE */
/* ------------------- */
.topFooter {
  display:flex;
  flex-flow: row wrap;
  background: rgba(196, 45, 183, 0.5);
}



/* ------------------- */
/* END OF top-FOOTER STYLE */
/* ------------------- */

/* ------------------- */
/* BOTTOM-FOOTER STYLE */
/* ------------------- */

.bottomFooter{
  display:flex;
  flex-flow: row wrap;
  background: rgba(224, 145, 42, 0.5);
}

.bottomFooter ul {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}



/* ------------------- */
/* end of BOTTOM-FOOTER STYLE */
/* ------------------- */
/* END FOOTER STYLE */
/* ------------------- */
